<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page-container">

    <div id="page-content">
        <header>
            <img th:src="@{/images/fourthingsplus.png}" src="../public/images/fourthingsplus.png" width="80%"/>
        </header>
        <p>Please enter user information</p>

        <div class="centered-form">
            <form method="post">

                <input type="text" name="username" placeholder="Username" required/>
                <input type="password" name="password1" placeholder="Password" required/>
                <input type="password" name="password2" placeholder="Repeat password" required/>
                <button class="errormessage" type="submit" formaction="/createuser">Create account</button>

                <p th:text="${#ctx.message}"></p>
            </form>
        </div>
        <a href="/index">Return to homepage</a>
    </div>
</div>
</body>
</html>